* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: #f4f7f6;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 40px;
    width: 420px;
    background-color: #ffffff;
    gap: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}

.auth-box h1 {
    font-size: 1.6rem;
    text-align: center;
}

.auth-box p {
    font-size: 1.1rem;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-group label {
    font-size: 1.1rem;
    font-weight: 500;
}

.input-group input {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.9rem;
}

button{
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#login-btn{
    background-color: #0056b3;
}

#reg-btn {
    background-color: #28a745;
}

#login-btn:hover{
    background-color: rgb(23, 76, 116);
}

#reg-btn:hover {
    background-color: #15803d;
}

.switch-auth{
    text-align: center;
    font-size: 0.9rem;
}

.switch-auth a{
    color: #0056b3;
    text-decoration: none;
}

.error-msg {
    color: #ef4444;
    font-size: 0.85rem;
    text-align: center;
}