* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0f1117;
    color: #ffffff;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Left side ka code */

.sidebar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid rgb(69, 69, 69);
    padding: 20px;
    width: 18%;
    height: 100vh;
    background-color: #1f2937;
}

.top {
    display: flex;
    flex-direction: column;
}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo i {
    font-size: 1.5rem;
    margin-bottom: 6px;
}

.logo h1 {
    font-size: 1.2rem;
    font-weight: 700;
}

.logo p {
    font-size: 0.78rem;
    color: #8e8d8d;
    letter-spacing: 0.5px;
}

.left ul {
    list-style: none;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left ul li {
    padding: 12px 14px;
    padding-right: 100px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.left ul li:hover {
    background-color: #374151;
    color: #60A5FA;
}

.left ul li i {
    margin-right: 8px;
}

.active {
    background-color: #374151;
    color: #60A5FA;
}

.add-btn {
    width: 100%;
    padding: 12px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

/* Right topbar ka code */

main {
    flex: 1;
    min-width: 0;
    background-color: #001022;
    overflow-y: auto;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 9vh;
    background-color: #1f2937;
    border-bottom: 1px solid rgb(69, 69, 69);
    padding: 0 24px;
    z-index: 10;
}

.navbar span {
    display: inline-block;
    font-size: 1rem;
    border-left: 1px solid #535353;
    padding: 0 20px;
}

.navbar button {
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 50px;
    border: 1px solid rgb(159, 158, 158);
    color: #ffffff;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #191c27;
    color: #fff;
}

.navbar button i {
    color: #4f6ef7;
}

/* dashboard aur cards ka*/

.dashboard {
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 100%;
    background: red; */
}

.overview-cards{
    display: grid;
    width: 100%;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card{
    background-color: #1f2937;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(69, 69, 69);
}

.card p{
    color: #9ca3af;
}

.card h3{
    font-size: 1.5rem;
}

#total-income{
    color: #166534;
}

#total-expense{
    color: #991b1b;
}

.card-icon{
    width: 40px;
    padding: 10px;
    border-radius: 16px;
}

.bg-blue{
    color: #60A5FA;
    background-color: #374151;
}

.bg-green{
    color: green;
    background-color: #dcfce7;
}

.bg-red{
    color: rgb(79, 2, 2);
    background-color: #fee2e2;
}

/* styling for main section */

.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    /* width: 100%; */
}

.left-col{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.analysis{
    background-color: #1f2937;
    border: 1px solid rgb(69, 69, 69);
    border-radius: 16px;
    padding: 24px;
}

.analysis h2 {
    /* margin-bottom: 16px; */
    font-size: 1.5rem;
}

#chart {
    width: 100%;
    height: 260px;
}

.preferences{
    display: flex;
    align-self: start;
    flex-direction: column;
    background-color: #1f2937;
    border: 1px solid rgb(69, 69, 69);
    border-radius: 16px;
    padding: 24px;
    gap: 24px;
}

.preferences h2{
    /* margin-bottom: 16px; */
    font-size: 1.5rem;
}

.preferences p{
    font-weight: bold;
}

.mode-toggle{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #374151;
    border-radius: 34px;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: #3b82f6;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.preferences input{
    cursor: pointer;
}

.preferences button{
    padding: 10px;
    border-radius: 8px;
    color: #991b1b;
    background-color: #fff5f5;
    cursor: pointer;
}

.transactions{
    background-color: #1f2937;
    border: 1px solid rgb(69, 69, 69);
    border-radius: 16px;
    padding: 24px;
}

.transactions h3{
    font-size: 1.5rem;
}

.search{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin: 16px 0;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #001022;
    border: 1px solid rgb(69, 69, 69);
    border-radius: 8px;
    padding: 8px 14px;
}

.search-bar input{
    background: transparent;
    border: none;
    font-size: 0.9rem;
}

#select {
    flex: 1;
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid rgb(69, 69, 69);
    color: white;
    background-color: #001022;
    font-size: 0.9rem;
    cursor: pointer;
}

table{
    width: 100%;
    /* border-collapse: collapse; */
}

table th{
    text-align: left;
    padding: 2px 14px;
    font-size: 0.8rem;
    border-bottom: 1px solid rgb(69, 69, 69);
    letter-spacing: 0.5px;
    padding-bottom: 15px;
}

tbody tr{
    border-bottom: 1px solid rgb(69, 69, 69);
    transition: background-color 0.2s ease;
}

tbody tr:hover {
    background-color: #374151;
}

tbody td {
    padding: 12px 14px;
    font-size: 0.9rem;
    color: white;
}

/* add transaction modal ke liye */
.modal{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hidden{
    display: none;
}

.modal-box {
    background-color: #1f2937;
    border: 1px solid rgb(69, 69, 69);
    border-radius: 16px;
    padding: 30px;
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2{
    font-size: 1.3rem;
}

.modal-header i {
    cursor: pointer;
    font-size: 1.2rem;
    color: #888888;
}

.modal-header i:hover {
    color: white;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-group input,
.input-group select {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid rgb(69, 69, 69);
    background-color: #010c1a85;
    color: #fff;
    font-size: 0.9rem;
    outline: none;
}

.input-row {
    display: flex;
    gap: 12px;
}

.input-row .input-group {
    flex: 1;
}

#save-transaction {
    padding: 12px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 6px;
    width: 100%;
}
